header {
    display: block;
    height: 15vh;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
  }

h1 {
    margin: 0 0 0 300px;
    padding: 50px 0 50px 0;
}

ul {
    list-style-type: none;
}

ul li {
    font-style: italic;
    font-size: 18px;
    font-weight: 700;
}

h3 {
    font-size: 18pt;
}

article {
    font-size: 16pt;
    text-align: justify;
    padding: 0 50px 0 0;
}

aside{
    flex-direction: column;
    width: 20vw;
    height: 75vh;
    padding: 50px 0 0 0;
}

main {
    flex-direction: column;
    width: 80vw;
    height: 75vh;
}

.main {
    display: flex;
}